{% load static %}
<div class="auth-buttons">
    {% if user.is_authenticated %}
        <form action="{% url 'account:logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <span>Hola, {{ perfil.nombre }}  </span>
            <button type="submit" class="nav-item" style="background:none;border:none;padding:0;cursor:pointer;">
                <span>CERRAR SESIÓN</span>
            </button>
        </form>
    {% else %}
        <a href="{% url 'account:login' %}" class="nav-item">
            <span>INICIAR SESIÓN</span>
        </a>
        <a href="{% url 'account:register' %}" class="nav-item">
            <span>REGISTRARSE</span>
        </a>
    {% endif %}
</div>