{% load static %}
    <!-- Header con información de contacto -->
    <div class="top-bar">
        <div class="container">
            <div class="contact-info">
                <span>📞 +3(800) 2345-6789</span>
                <span>7 Days a week from 9:00 am to 7:00 pm</span>
            </div>
            <div class="currency-selector">
                <span>USD, $</span>
            </div>
            <div class="auth-buttons">
    {% if user.is_authenticated %}
        <form action="{% url 'account:logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <span>Hola, {{ perfil.nombre }}  </span>
            <button type="submit" class="nav-item" style="background:none;border:none;padding:0;cursor:pointer;">
                <span>CERRAR SESIÓN</span>
            </button>
        </form>
    {% else %}
        <a href="{% url 'account:login' %}" class="nav-item">
            <span>INICIAR SESIÓN</span>
        </a>
        <a href="{% url 'account:register' %}" class="nav-item">
            <span>REGISTRARSE</span>
        </a>
    {% endif %}
</div>
        </div>
    </div>
